<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.SharePoint.Client" version="14.0.4762.1000" targetFramework="net472" />
  <package id="Microsoft.SharePoint.Library.2010" version="14.0.7115.5000" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
</packages>