<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <add key="SITE_URL" value="http://sharepoint1/pipflowsitetesting" />
    <add key="DEST_SITE_URL" value="http://sharepoint1/pipflowsitetesting" />
    <add key="sourceListname" value="workflow_history_1" />
     <add key="destinationListname" value="workflow_history_2" />
  
    <add key="satewisemappinglist" value="1," />


  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>