
@{
    ViewBag.Title = "getADGroupsByUser";
}
<br />
<br />
<br />
<br />
<br />
<br />
<h1>Note: pass paramerters to this url like : [domainurl]/getADPermissionsByUser?uname=xxxx</h1>
<ul>
    @foreach (var person in ViewBag.Message)
    {
        <li>@person</li>
    }
</ul>