
@{
    ViewBag.Title = "GetAllRoles";
}
<br />
<br />
<br />
<ul>
    @if (ViewBag.Message != null)
    {
        foreach (var person in ViewBag.Message)
        {
            <li>@person</li>
        }
    }
</ul>

