<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>

    <add key="stateids" value=",1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39," />
    <add key="exepath" value="D:\ConsoleTasks\SPBulkPush_FMRTASKS_MultiArges\BulkPushConsoleApp.exe" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    
    </startup>
</configuration>