<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SITE_URL" value="http://sharepoint1/testlocal" />
    <add key="Setting2" value="Value2" />
    <add key="REPUSH" value="Y" />
    <add key="stateids" value="" />
  
    <add key="IS_SINGLE_TASK" value="Y" />
    <add key="DomainName" value="i:0#.w|saathispdt.com\" />
   <add key="REQUEST_QUEUESIZE" value="20" />
    
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>