<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
      <add key="statefind" value="D:\webapps\sharepointDevelopment\ConsoleApps\CopyListItemsSsom\CopyListItemsSsom\bin\Release\" />
    <add key="SITE_URL" value="http://sharepoint1:8080/sites/testlocal" />
      <add key="DEST_SITE_URL" value="http://sharepoint1:8080/sites/testlocal" />
    <add key="sourceListname" value="bulkpushapis" />
     <add key="destinationListname" value="workflow_history" />
    <add key="satewisemappinglist" value="1," />
      <add key="DomainName" value="i:0#.w|saathispdt.com\" />
      <add key="queuelength" value="50" />
  </appSettings>
      <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    
</configuration>
